body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 21cm;
    margin: auto;
    padding: 20px;
    box-shadow: none;
    display: block;
}
.sidebar {
    width: 100%;
    text-align: center;
    background: #2c3e50;
    color: white;
    padding: 20px;
}
.sidebar img {
    width: 120px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
    border: 3px solid white;
}
.content {
    width: 100%;
    padding: 20px;
}

.section {
    text-align: justify;
}

.section h2 {
    color: #2c3e50;
    border-bottom: 2px solid #f4b400;
    padding-bottom: 5px;
}
